<a href="https://colab.research.google.com/github/brenoslivio/SCC0652_Computational_Visualization/blob/master/notebooks/Project-1/Projeto_1_Processamento_de_dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Projeto 1 - Processamento de dados

<br>

**SCC0652 - Visualização Computacional (2020/2)**

<br>

[Projeto no GitHub](https://github.com/brenoslivio/SCC0652_Computational_Visualization)

<br>

**Alunos:**

Afonso Henrique Piacentini Garcia, Nº USP: 9795272

Breno Lívio Silva de Almeida, Nº USP: 10276675

Vitor Henrique Gratiere Torres, Nº USP: 10284952

---

## Sumário


1. [Descrição](#descricao)

  1.1 [pokemon.csv](#pokemoncsv)

  1.2 [pokemonKaggle.csv](#kagglecsv)

  1.3 [Gerações dos Pokémons](#generations)


2. [Desenvolvimento](#desenvolvimento)

  2.1 [Gerando o Data Frame principal](#dataframe)

  2.2 [Análise dos dados](#analise)

  * [Códigos das Pokédex](#pokedexcod)

  * [Outliers](#outliers)

  * [Comparações entre os extremos dos stats](#extremos)

  * [As melhores gerações](#bestgen)

  * [Resumo descritivo](#resumo)

## Descrição <a name="descricao"></a>

Essa parte do projeto da disciplina consiste no processamento de um conjunto de dados, um dataset. O conjunto de dados escolhido foi o de [Pokémons](https://www.pokemon.com/br/), do vídeo-game homônimo. As criaturas, chamadas de Pokémons, são representadas no jogo em questão por um item chamado [Pokédex](https://www.pokemon.com/br/pokedex/), que contém o nome e outras estatísticas relevantes aos jogos, como pontos de vida, ataque e etc. Os dados referentes à Pokédex foram retirados do site [Pokémon Database](https://pokemondb.net/pokedex/all). Também retiramos um [dataset do site Kaggle](https://www.kaggle.com/mariotormo/complete-pokemon-dataset-updated-090420), que utiliza a licença [Creative Commons](https://br.creativecommons.org/). Ele será usado para utilizar informações relevantes como as gerações, peso e altura dos Pokémons.

### [pokemon.csv](https://github.com/brenoslivio/SCC0652_Computational_Visualization/blob/master/notebooks/Project-1/crawler/pokemon.csv) <a name="pokemoncsv"></a>

*   attack: stat que indica o poder de ataque fisico base do pokémon;
*   cod: O número do pokémon na Pokédex;
*   defense: stat que indica a defesa física base do pokémon;
*   hp: stat que indica a vida base do pokémon;
*   img: link para a imagem do pokémon;
*   name: O nome do pokémon;
*   spatk: stat que indica o poder de ataque especial do pokémon;
*   spdef: stat que indica o poder de defesa especial do pokémon;
*   speed: stat que indica a velocidade base do pokémon;
*   form: discriminante de mega evoluções e outras formas;
*   total: soma total dos stats do pokémon;
*   type1: tipo do pokémon;
*   type2: segundo tipo do pokémon, caso possua.

### [pokemonKaggle.csv](https://github.com/brenoslivio/SCC0652_Computational_Visualization/blob/master/notebooks/Project-1/kaggle/pokedexKaggle.csv) <a name="kagglecsv"></a>

Dataset retirado do Kaggle, do qual retiraram-se algumas outras informações dos pokémons, as quais foram unificadas posteriormente com o dataset obtido através do crawler. As colunas aproveitadas, neste caso, foram:

* name: Nome do pokémon;
* generation: a qual geração o pokémon em questão pertence;
*   status: refere-se a raridade do pokémon, variando de normal até mítico;
*   species: apelido dado para cada pokémon baseado em algum de seus atributos;
*   height_m: altura do pokémon em metros;
*   weight_kg: peso do pokémon em kilogramas.

### Gerações dos Pokémons <a name="generations"></a>

A série de jogos Pokémon se iniciou em 1996, com os jogos *Pokemon Red* e *Pokemon Green*. Com o passar do tempo e lançamento de novos jogos, novas criaturas e mecânicas foram sendo integradas ao jogo, e com isso criou-se o sistema de gerações para facilitar a organização dos pokemons. Essa divisão será importante para a forma que iremos agrupar os dados no decorrer do projeto.

1ª geração: Bulbasaur 001 - Mew 151

2ª geração: Chikorita 152 - Celebi 251

3ª geração: Treecko 252 - Deoxys 386

4ª geração: Turtwig 387 - Arceus 493

5ª geração: Victini 494 - Genesect 649

6ª geração: Chespin 650 - Volcanion 721

7ª geração: Rowlet 722 - Melmetal 809

8ª geração: Grookey 810 - Zarude 893*

- Observação: A Pokédex da 8ª geração ainda está em desenvolvimento pela  *Pokémon Company*. Nos limitaremos ao banco de dados disponível até o presente momento: 20\09\2020

## Desenvolvimento <a name="desenvolvimento"></a>

Aqui trabalhamos com a geração do Data Frame principal, além de analisar os dados coletados.

### Gerando o Data Frame principal <a name="dataframe"></a>

Vamos trabalhar com os datasets coletados para gerar um único Data Frame do Pandas.

Leitura do CSV gerado do Pokémon Database como data frame do Pandas

In [1]:
import numpy as np
import pandas as pd

from IPython.display import Image
from IPython.core.display import HTML

dfPokemonDB = pd.read_csv(
    "https://raw.githubusercontent.com/brenoslivio/SCC0652_Computationa"
    + "l_Visualization/master/notebooks/Project-1/crawler/pokemon.csv",
    dtype={
        "attack": np.int32,
        "cod": str,
        "defense": np.int32,
        "hp": np.int32,
        "spatk": np.int32,
        "spdef": np.int32,
        "speed": np.int32,
        "total": np.int32,
    },
    keep_default_na=False,
)

dfPokemonDB["img"].replace("", np.nan, inplace=True)

dfPokemonDB.dropna(subset=["img"], inplace=True)

dfPokemonDB.sample(5)

,attack,cod,defense,form,hp,img,name,spatk,spdef,speed,total,type1,type2
7,130,006,111,Mega Charizard X,78,https://img.pokemondb.net/sprites/home/normal/...,Charizard,130,85,100,634,Fire,Dragon
158,65,122,65,Galarian Mr. Mime,50,https://img.pokemondb.net/sprites/home/normal/...,Mr. Mime,90,90,100,460,Psychic,Ice
794,72,683,72,,101,https://img.pokemondb.net/sprites/home/normal/...,Aromatisse,99,89,29,462,Fairy,
654,160,555,55,Galarian Zen Mode,105,https://img.pokemondb.net/sprites/home/normal/...,Darmanitan,30,55,135,540,Ice,Fire
479,85,400,60,,79,https://img.pokemondb.net/sprites/home/normal/...,Bibarel,55,60,71,410,Normal,Water

Leitura do CSV retirado do Kaggle como data frame do Pandas

In [2]:
dfPokemonKaggle = pd.read_csv(
    "https://raw.githubusercontent.com/brenoslivio/SCC0652_Computationa"
    + "l_Visualization/master/notebooks/Project-1/kaggle/pokedexKaggle."
    + "csv",
    usecols=[
        "name",
        "generation",
        "status",
        "species",
        "height_m",
        "weight_kg",
    ],
    dtype={
        "name": str,
        "generation": np.int32,
        "status": str,
        "species": str,
        "height_m": np.float64,
        "weight_kg": np.float64,
    },
)

dfPokemonKaggle.sample(5)

           name  generation  status            species  height_m  weight_kg
338   Shroomish           3  Normal   Mushroom Pokémon       0.4        4.5
47     Clefable           1  Normal      Fairy Pokémon       1.3       40.0
177      Kabuto           1  Normal  Shellfish Pokémon       0.5       11.5
185     Dratini           1  Normal     Dragon Pokémon       1.8        3.3
858  Crabrawler           7  Normal     Boxing Pokémon       0.6        7.0

Vamos juntar os dois datasets, combinando as variáveis relevantes para análise.

Para unificarmos duas tabelas precisamos guiar a junção com chaves primárias, no dataframe ```dfPokemonDB``` a chave primária é a junção dos atributos ```name``` e ```form```, enquanto no dataframe ```dfPokemonKaggle``` é o atributo ```name```.

In [3]:
# No nosso dataframe criamos uma nova coluna 'tmp' que recebe uma copia
# da coluna 'form'
dfPokemonDB["tmp"] = dfPokemonDB.loc[:, "form"]

# Nessa nova coluna todas as linhas que estiverem vazias receberao os
# valores da coluna 'name'
dfPokemonDB.loc[
    dfPokemonDB.loc[:, "tmp"] == "", "tmp"
] = dfPokemonDB.loc[:, "name"]

# Tratando casos de borda:
# Pokemons com 'Form', 'Cloak', 'Mode', 'Male', 'Female', 'Size' e
# 'Style' na sua forma devem seguir a definicao 'tmp' = 'name' + 'form'
for exception in [
    "Form",
    "Cloak",
    "Mode",
    "Male",
    "Female",
    "Size",
    "Style",
]:
    dfPokemonDB.loc[
        dfPokemonDB.loc[:, "form"].str.contains(exception), "tmp"
    ] = (dfPokemonDB.loc[:, "name"] + " " + dfPokemonDB.loc[:, "form"])

# Tratando casos de borda:
# Pokemons com os nomes 'Hoopa', 'Eiscue', 'Zacian' e 'Zamazenta'
# tambem devem seguir a definicao 'tmp' = 'name' + 'form'
for exception in ["Hoopa", "Eiscue", "Zacian", "Zamazenta"]:
    dfPokemonDB.loc[
        dfPokemonDB.loc[:, "name"].str.contains(exception), "tmp"
    ] = (dfPokemonDB.loc[:, "name"] + " " + dfPokemonDB.loc[:, "form"])

# Duas excecoes precisam ser tratadas manualmente
dfPokemonDB.loc[dfPokemonDB.loc[:, "name"] == "Keldeo", "tmp"] = (
    dfPokemonDB.loc[:, "tmp"] + "e"
)
dfPokemonDB.loc[dfPokemonDB.loc[:, "form"] == "Eternamax", "tmp"] = (
    dfPokemonDB.loc[:, "name"] + " " + dfPokemonDB.loc[:, "form"]
)

Finalmente damos o merge entre os datasets, trocando as colunas para lugares mais convenientes

In [4]:
# Mudaremos tambem o nome da coluna 'name' no dataframe do Kaggle para
# 'tmp'
dfPokemonKaggle.rename(columns={"name": "tmp"}, inplace=True)

dfPokemon = pd.merge(
    dfPokemonDB, dfPokemonKaggle, on="tmp", how="outer"
)

dfPokemon = dfPokemon.drop("tmp", axis=1)

dfPokemon = dfPokemon[
    [
        "cod",
        "name",
        "generation",
        "status",
        "species",
        "form",
        "type1",
        "type2",
        "height_m",
        "weight_kg",
        "total",
        "hp",
        "attack",
        "defense",
        "spatk",
        "spdef",
        "speed",
        "img",
    ]
]

dfPokemon.sample(5)

,cod,name,generation,status,species,form,type1,type2,height_m,weight_kg,total,hp,attack,defense,spatk,spdef,speed,img
606,515,Panpour,5,Normal,Spray Pokémon,,Water,,0.6,13.5,316,50,53,48,53,48,64,https://img.pokemondb.net/sprites/home/normal/...
688,590,Foongus,5,Normal,Mushroom Pokémon,,Grass,Poison,0.2,1.0,294,69,55,45,55,55,15,https://img.pokemondb.net/sprites/home/normal/...
205,165,Ledyba,2,Normal,Five Star Pokémon,,Bug,Flying,1.0,10.8,265,40,20,30,40,80,55,https://img.pokemondb.net/sprites/home/normal/...
13,010,Caterpie,1,Normal,Worm Pokémon,,Bug,,0.3,2.9,195,45,30,35,20,20,45,https://img.pokemondb.net/sprites/home/normal/...
173,136,Flareon,1,Normal,Flame Pokémon,,Fire,,0.9,25.0,525,65,130,60,95,110,65,https://img.pokemondb.net/sprites/home/normal/...

Temos dois casos únicos para Pokémons que usam símbolos especiais em seus nomes. Podemos tratar esses dados.

In [5]:
dfPokemon.loc[dfPokemon["cod"].isin(["029", "032"])]

,cod,name,generation,status,species,form,type1,type2,height_m,weight_kg,total,hp,attack,defense,spatk,spdef,speed,img
40,029,Nidoran♀,1,Normal,Poison Pin Pokémon,,Poison,,0.4,7.0,275,55,47,52,40,40,41,https://img.pokemondb.net/sprites/home/normal/...
43,032,Nidoran♂,1,Normal,Poison Pin Pokémon,,Poison,,0.5,9.0,273,46,57,40,40,40,50,https://img.pokemondb.net/sprites/home/normal/...

Substituímos os símbolos por caracteres adequados.

In [6]:
# Indicate female
dfPokemon["name"] = dfPokemon["name"].str.replace("♀", "-f")
# Indicate male
dfPokemon["name"] = dfPokemon["name"].str.replace("♂", "-m")

dfPokemon.loc[dfPokemon["cod"].isin(["029", "032"])]

,cod,name,generation,status,species,form,type1,type2,height_m,weight_kg,total,hp,attack,defense,spatk,spdef,speed,img
40,029,Nidoran-f,1,Normal,Poison Pin Pokémon,,Poison,,0.4,7.0,275,55,47,52,40,40,41,https://img.pokemondb.net/sprites/home/normal/...
43,032,Nidoran-m,1,Normal,Poison Pin Pokémon,,Poison,,0.5,9.0,273,46,57,40,40,40,50,https://img.pokemondb.net/sprites/home/normal/...

Com o tratamento dos dados, geramos o csv por meio Data Frame criado. Será usado nos próximos projetos.

In [7]:
dfPokemon.to_csv("dfPokemon.csv", index=False)

### Análise dos dados <a name="analise"></a>

Com o Data Frame gerado, vamos analisar os dados que temos com a ideia de entender mais acerca do nosso conjunto de dados.

#### Códigos das Pokédex <a name="pokedexcod"></a>

Como explicado anteriormente, `cod` no data frame representa o código de cada Pokémon na Pokédex. Podemos ver os casos que forem duplicados para entender o que está acontecendo.

In [8]:
dfPokemon.loc[dfPokemon.duplicated(subset="cod", keep=False)]

,cod,name,generation,status,species,form,type1,type2,height_m,weight_kg,total,hp,attack,defense,spatk,spdef,speed,img
2,003,Venusaur,1,Normal,Seed Pokémon,,Grass,Poison,2.0,100.0,525,80,82,83,100,100,80,https://img.pokemondb.net/sprites/home/normal/...
3,003,Venusaur,1,Normal,Seed Pokémon,Mega Venusaur,Grass,Poison,2.4,155.5,625,80,100,123,122,120,80,https://img.pokemondb.net/sprites/home/normal/...
6,006,Charizard,1,Normal,Flame Pokémon,,Fire,Flying,1.7,90.5,534,78,84,78,109,85,100,https://img.pokemondb.net/sprites/home/normal/...
7,006,Charizard,1,Normal,Flame Pokémon,Mega Charizard X,Fire,Dragon,1.7,110.5,634,78,130,111,130,85,100,https://img.pokemondb.net/sprites/home/normal/...
8,006,Charizard,1,Normal,Flame Pokémon,Mega Charizard Y,Fire,Flying,1.7,100.5,634,78,104,78,159,115,100,https://img.pokemondb.net/sprites/home/normal/...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1023,888,Zacian,8,Legendary,Warrior Pokémon,Hero of Many Battles,Fairy,,2.8,110.0,670,92,130,115,80,115,138,https://img.pokemondb.net/sprites/home/normal/...
1024,889,Zamazenta,8,Legendary,Warrior Pokémon,Crowned Shield,Fighting,Steel,2.9,785.0,720,92,130,145,80,145,128,https://img.pokemondb.net/sprites/home/normal/...
1025,889,Zamazenta,8,Legendary,Warrior Pokémon,Hero of Many Battles,Fighting,,2.9,210.0,670,92,130,115,80,115,138,https://img.pokemondb.net/sprites/home/normal/...
1026,890,Eternatus,8,Legendary,Gigantic Pokémon,,Poison,Dragon,20.0,950.0,690,140,85,95,145,95,130,https://img.pokemondb.net/sprites/home/normal/...
1027,890,Eternatus,8,Legendary,Gigantic Pokémon,Eternamax,Poison,Dragon,100.0,NaN,1125,255,115,250,125,250,130,https://img.pokemondb.net/sprites/home/normal/...

É possível notar que os duplicados para o código da Pokédex se trata de Pokémons com versões alternativas, representadas em `form`. Se o campo estiver vazio, se trata da forma original. Podemos também ver quantas formas alternativas existem para os Pokémons baseado nos códigos que aparecem mais de uma vez.

In [9]:
len(dfPokemon.loc[dfPokemon.duplicated(subset="cod", keep="first")])

138

#### Outliers <a name="outliers"></a>

Achando outliers no nosso conjunto de dados. No caso estamos apenas encontrando outliers considerando a coluna `total`.

In [10]:
dfPokemon.drop((dfPokemon.loc[:, "form"] == "Eternamax").index)

# primeiro quartil e segundo quartil
Q1, Q3 = dfPokemon.loc[:, "total"].quantile([0.25, 0.75])
# distância interquartil
IQR = Q3 - Q1

outliers = dfPokemon.loc[
    (dfPokemon.loc[:, "total"] < (Q1 - 1.5 * IQR))
    | (dfPokemon.loc[:, "total"] > (Q3 + 1.5 * IQR)),
    :,
]

outliers

,cod,name,generation,status,species,form,type1,type2,height_m,weight_kg,total,hp,attack,defense,spatk,spdef,speed,img
1027,890,Eternatus,8,Legendary,Gigantic Pokémon,Eternamax,Poison,Dragon,100.0,NaN,1125,255,115,250,125,250,130,https://img.pokemondb.net/sprites/home/normal/...

#### Comparações entre os extremos dos stats <a name="extremos"></a>

Comparações entre os extremos de todos os stats presentes nos pokémons, com imagens dos pokémons que possuem tais extremos.

Comparação `hp` (health points/pontos de vida)

In [11]:
hpPokemonMax = dfPokemon.loc[[dfPokemon["hp"].idxmax()]]
hpPokemonMax

,cod,name,generation,status,species,form,type1,type2,height_m,weight_kg,total,hp,attack,defense,spatk,spdef,speed,img
288,242,Blissey,2,Normal,Happiness Pokémon,,Normal,,1.5,46.8,540,255,10,10,75,135,55,https://img.pokemondb.net/sprites/home/normal/...

In [12]:
Image(url=hpPokemonMax["img"].item(), width=150, height=150)

In [13]:
hpPokemonMin = dfPokemon.loc[[dfPokemon["hp"].idxmin()]]
hpPokemonMin

,cod,name,generation,status,species,form,type1,type2,height_m,weight_kg,total,hp,attack,defense,spatk,spdef,speed,img
345,292,Shedinja,3,Normal,Shed Pokémon,,Bug,Ghost,0.8,1.2,236,1,90,45,30,30,40,https://img.pokemondb.net/sprites/home/normal/...

In [14]:
Image(url=hpPokemonMin["img"].item(), width=150, height=150)

Comparação `attack` (pontos de ataque)

In [15]:
attackPokemonMax = dfPokemon.loc[[dfPokemon["attack"].idxmax()]]
attackPokemonMax

,cod,name,generation,status,species,form,type1,type2,height_m,weight_kg,total,hp,attack,defense,spatk,spdef,speed,img
189,150,Mewtwo,1,Legendary,Genetic Pokémon,Mega Mewtwo X,Psychic,Fighting,2.3,127.0,780,106,190,100,154,100,130,https://img.pokemondb.net/sprites/home/normal/...

In [16]:
Image(url=attackPokemonMax["img"].item(), width=150, height=150)

In [17]:
attackPokemonMin = dfPokemon.loc[[dfPokemon["attack"].idxmin()]]
attackPokemonMin

,cod,name,generation,status,species,form,type1,type2,height_m,weight_kg,total,hp,attack,defense,spatk,spdef,speed,img
145,113,Chansey,1,Normal,Egg Pokémon,,Normal,,1.1,34.6,450,250,5,5,35,105,50,https://img.pokemondb.net/sprites/home/normal/...

In [18]:
Image(url=attackPokemonMin["img"].item(), width=150, height=150)

Comparação `defense` (pontos de defesa)

In [19]:
defensePokemonMax = dfPokemon.loc[[dfPokemon["defense"].idxmax()]]
defensePokemonMax

,cod,name,generation,status,species,form,type1,type2,height_m,weight_kg,total,hp,attack,defense,spatk,spdef,speed,img
1027,890,Eternatus,8,Legendary,Gigantic Pokémon,Eternamax,Poison,Dragon,100.0,NaN,1125,255,115,250,125,250,130,https://img.pokemondb.net/sprites/home/normal/...

In [20]:
Image(url=defensePokemonMax["img"].item(), width=150, height=150)

In [21]:
defensePokemonMin = dfPokemon.loc[[dfPokemon["defense"].idxmin()]]
defensePokemonMin

,cod,name,generation,status,species,form,type1,type2,height_m,weight_kg,total,hp,attack,defense,spatk,spdef,speed,img
145,113,Chansey,1,Normal,Egg Pokémon,,Normal,,1.1,34.6,450,250,5,5,35,105,50,https://img.pokemondb.net/sprites/home/normal/...

In [22]:
Image(url=defensePokemonMin["img"].item(), width=150, height=150)

Comparação `spatk` (pontos de ataque especial)

In [23]:
spatkPokemonMax = dfPokemon.loc[[dfPokemon["spatk"].idxmax()]]
spatkPokemonMax

,cod,name,generation,status,species,form,type1,type2,height_m,weight_kg,total,hp,attack,defense,spatk,spdef,speed,img
190,150,Mewtwo,1,Legendary,Genetic Pokémon,Mega Mewtwo Y,Psychic,,1.5,33.0,780,106,150,70,194,120,140,https://img.pokemondb.net/sprites/home/normal/...

In [24]:
Image(url=spatkPokemonMax["img"].item(), width=150, height=150)

In [25]:
spatkPokemonMin = dfPokemon.loc[[dfPokemon["hp"].idxmin()]]
spatkPokemonMin

,cod,name,generation,status,species,form,type1,type2,height_m,weight_kg,total,hp,attack,defense,spatk,spdef,speed,img
345,292,Shedinja,3,Normal,Shed Pokémon,,Bug,Ghost,0.8,1.2,236,1,90,45,30,30,40,https://img.pokemondb.net/sprites/home/normal/...

In [26]:
Image(url=spatkPokemonMin["img"].item(), width=150, height=150)

Comparação `spdef` (pontos de defesa especial)

In [27]:
spdefPokemonMax = dfPokemon.loc[[dfPokemon["spdef"].idxmax()]]
spdefPokemonMax

,cod,name,generation,status,species,form,type1,type2,height_m,weight_kg,total,hp,attack,defense,spatk,spdef,speed,img
1027,890,Eternatus,8,Legendary,Gigantic Pokémon,Eternamax,Poison,Dragon,100.0,NaN,1125,255,115,250,125,250,130,https://img.pokemondb.net/sprites/home/normal/...

In [28]:
Image(url=spdefPokemonMax["img"].item(), width=150, height=150)

In [29]:
spdefPokemonMin = dfPokemon.loc[[dfPokemon["spdef"].idxmin()]]
spdefPokemonMin

,cod,name,generation,status,species,form,type1,type2,height_m,weight_kg,total,hp,attack,defense,spatk,spdef,speed,img
13,010,Caterpie,1,Normal,Worm Pokémon,,Bug,,0.3,2.9,195,45,30,35,20,20,45,https://img.pokemondb.net/sprites/home/normal/...

In [30]:
Image(url=spdefPokemonMin["img"].item(), width=150, height=150)

Comparação `speed` (pontos de velocidade)

In [31]:
speedPokemonMax = dfPokemon.loc[[dfPokemon["speed"].idxmax()]]
speedPokemonMax

,cod,name,generation,status,species,form,type1,type2,height_m,weight_kg,total,hp,attack,defense,spatk,spdef,speed,img
463,386,Deoxys,3,Mythical,DNA Pokémon,Speed Forme,Psychic,,1.7,60.8,600,50,95,90,95,90,180,https://img.pokemondb.net/sprites/home/normal/...

In [32]:
Image(url=speedPokemonMax["img"].item(), width=150, height=150)

In [33]:
speedPokemonMin = dfPokemon.loc[[dfPokemon["speed"].idxmin()]]
speedPokemonMin

,cod,name,generation,status,species,form,type1,type2,height_m,weight_kg,total,hp,attack,defense,spatk,spdef,speed,img
256,213,Shuckle,2,Normal,Mold Pokémon,,Bug,Rock,0.6,20.5,505,20,10,230,10,230,5,https://img.pokemondb.net/sprites/home/normal/...

In [34]:
Image(url=speedPokemonMin["img"].item(), width=150, height=150)

Comparação `total` (pontos totais dos stats)

In [35]:
totalPokemonMax = dfPokemon.loc[[dfPokemon["total"].idxmax()]]
totalPokemonMax

,cod,name,generation,status,species,form,type1,type2,height_m,weight_kg,total,hp,attack,defense,spatk,spdef,speed,img
1027,890,Eternatus,8,Legendary,Gigantic Pokémon,Eternamax,Poison,Dragon,100.0,NaN,1125,255,115,250,125,250,130,https://img.pokemondb.net/sprites/home/normal/...

In [36]:
Image(url=totalPokemonMax["img"].item(), width=150, height=150)

In [37]:
totalPokemonMin = dfPokemon.loc[[dfPokemon["total"].idxmin()]]
totalPokemonMin

,cod,name,generation,status,species,form,type1,type2,height_m,weight_kg,total,hp,attack,defense,spatk,spdef,speed,img
871,746,Wishiwashi,7,Normal,Small Fry Pokémon,Solo Form,Water,,0.2,0.3,175,45,20,20,25,25,40,https://img.pokemondb.net/sprites/home/normal/...

In [38]:
Image(url=totalPokemonMin["img"].item(), width=150, height=150)

#### As melhores gerações <a name="bestgen"></a>

Considerando os stats dos Pokémons, representados pelas colunas analisadas anteriormente, vamos agrupar os Pokémons em gerações, analisando quais têm as melhores médias para os stats.

Assim, fazendo as médias dos stats, ordenamos em ordem descendente as gerações.

In [39]:
bestGenerations = dfPokemon.groupby("generation").mean()[
    ["total", "hp", "attack", "defense", "spatk", "spdef", "speed"]
]

bestGenerations.sort_values(by="total", ascending=False)

,total,hp,attack,defense,spatk,spdef,speed
generation,,,,,,,
7,459.232323,71.464646,87.313131,79.202020,77.848485,75.555556,67.848485
4,459.016529,73.082645,82.867769,78.132231,76.404959,77.190083,71.338843
6,442.082353,69.882353,77.070588,76.905882,75.141176,75.082353,68.000000
8,438.329545,70.465909,80.000000,75.125000,71.772727,72.454545,68.511364
3,436.006061,66.806061,81.030303,74.048485,75.600000,71.139394,67.381818
5,435.157895,72.292398,82.976608,72.269006,70.929825,68.426901,68.263158
1,424.104167,64.760417,77.302083,71.005208,69.927083,68.598958,72.510417
2,419.140187,71.476636,71.869159,73.822430,66.121495,74.336449,61.514019

#### Resumo descritivo <a name="resumo"></a>

Fazemos o resumo das medidas estatísticas dos dados.

In [40]:
dfPokemon.describe()

,generation,height_m,weight_kg,total,hp,attack,defense,spatk,spdef,speed
count,1028.000000,1028.000000,1027.000000,1028.000000,1028.000000,1028.000000,1028.000000,1028.000000,1028.000000,1028.000000
mean,4.034047,1.368093,69.753749,437.533074,69.577821,80.109922,74.465953,72.722763,72.122568,68.534047
std,2.234937,3.380126,129.221230,121.641715,26.385849,32.352799,31.281363,32.656156,28.058406,29.802103
min,1.000000,0.100000,0.100000,175.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000
25%,2.000000,0.600000,8.800000,330.000000,50.000000,55.000000,50.000000,50.000000,50.000000,45.000000
50%,4.000000,1.000000,28.500000,455.000000,66.500000,76.000000,70.000000,65.000000,70.000000,65.000000
75%,6.000000,1.500000,69.100000,510.000000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000
max,8.000000,100.000000,999.900000,1125.000000,255.000000,190.000000,250.000000,194.000000,250.000000,180.000000